// footer.scss
@import "vars/footer.vars";

// Footer Widget
.fs-style{
  	&.footer-top{
	    &:before{
	    	background: $theme-color-default;
	    	display: inline-block;
	    }
  	}
  	&.powered{
	  	padding: 20px 0;
	    &:before{
	    	background: $black;
	    	display: inline-block;
	    }
	    p{
	    	margin: 0;
	    }
  	}
}
.footer-center{
	padding-top: 80px;
	padding-bottom: 30px;
}
.footer-info{
	padding-bottom: 80px;
}
.powered{
	.block{
		margin-bottom: 0 !important;
	}
}