
/*  
 * LAYOUT VARIABLES 
 */

// Topbar 
$topbar-outside-bg: 				$nocolor !default;
$topbar-bg: 						$nocolor !default;
$topbar-color: 						$text-color !default;
$topbar-font-size: 					$font-size-base !default;
$topbar-height:                     50px !default;

// header main
$headermain-outside-bg :			$nocolor !default; 
$headermain-bg: 			 		$nocolor !default;
$headermain-color:					$text-color !default;

// Footer
$footer-outside-bg :				#272727 !default;
$footer-bg: 						$footer-outside-bg !default;
$footer-color: 						#9c9c9c !default;